<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Is it going to rain in {{ location }} today?</title>
    <link rel="stylesheet" href="assets/style.css">
  </head>
  <body>
    <main class=container>
      <div class=main>
        <div class=location-image>
            <img src="{{ photo.url }}" alt="a generic picture of {{ location }}" />
            {% if not photo.is_public_domain %}
              <div>
                &copy; <a href="{{ photo.url_original }}">{{ photo.author }}</a> –
                <a href="{{ photo.license.url }}">{{ photo.license.name }}</a>
              </div>
            {% endif %}
        </div>
        <h1 class=question>Is it going to rain in {{ location }} today?</h1>
        <div class=answer>
          {% if is_raining %}
            Yup! Sorry.
          {% else %}
            Nope! Enjoy the weather.
          {% endif %}
        </div>
      </div>

      <div class=attribution>
        Powered by <a href="https://forecast.io">forecast.io</a> &amp; <a href="https://flickr.com">flickr</a>
      </div>
    </main>
  </body>
</html>
